# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- main

pool:
  name: Default

steps:
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'mvn test'

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      - powershell: |
         $url = 'https://pulse-7.qtestnet.com/webhook/0fd02d1e-47fc-4c3d-83f4-740ed24f2005'
         
         $content = Get-Content "C:\Tricentis\Automation\AzureDevOps\agents\_work\2\s\target\cucumber-report.json" -Raw
         $bytes = [System.Text.Encoding]::ASCII.GetBytes($content)
         $payload = [System.Convert]::ToBase64String($bytes)
         
         $body = @{
          'projectId' = '87143'
          'testcycle' = '2598404'
          'result' = $payload
         }
         
         [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
         Invoke-RestMethod -Body $body -Method 'Post' -Uri $url
        displayName: 'Upload Results to qTest Pulse'